<div class="content wrapper">



  <div class="project-container wrapper" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)">


            <div class="project-image-container" [@divState]="state" #aboutmeLeft>
              <div class="number-container-small-screen">
                04/04
              </div>
              <img class="project-image"  src="./assets/img/portfolio.png">
              <img class="arrow-down" src="./assets/img/project-arrow.png" alt="">
            </div>


            <div [ngClass]="{'show': isDescriptionVisible(0)}" class="project-description">

              <div class="project-number">04/04</div>
              <h3 class="project-title">Portfolio</h3>
              <span class="project-tools">Typescript | Angular | HTML | SCSS</span>
              <span class="project-short-description">This is my Portfolio where i showcase my skills and projects. Feel free to check it out</span>



              <div class="button-container">
                <button class="button" (click)="navigateTo('https://mustafa-soycan.com')">
                  Live
                </button>

                <button class="button" (click)="navigateTo('https://github.com/MustafaSoycan/MustafaSoycanPortfolioV2')">
                  Github
                </button>
              </div>

            </div>


  </div>



</div>