.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(255, 252, 243);
 
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    img {
        height: 130px;
        width: auto;
    }
}

//--------------- HAMBURGER MENU --------------- //

/*/ --------------------- HAMBURGER MENU ----------------/*/

.hamburger {
    position: relative;
    width: 45px;
    cursor: pointer;
    z-index: 2;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(75, 75, 75);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

// --------------- MEDIA QUERRYS --------------- //

@media (max-width: 1280px) {
    .wrapper{
        max-width: 1000px !important;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .wrapper{
        max-width: 800px !important;
        margin: auto;
    }
}


@media (max-width: 880px) {
    .wrapper{
        max-width: 650px !important;
        margin: auto;
    }
}

@media (max-width: 730px) {
    .wrapper{
        max-width: 550px !important;
        margin: auto;
    }
}

@media (max-width: 580px) {
    .wrapper{
        max-width: 450px !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .wrapper{
        max-width: 380px !important;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .wrapper{
        max-width: 320px !important;
        margin: auto;
    }
}