<div class="wrapper content">
    <h2 class="about-me-header component-header"  id="about-me">About Me</h2>

    <div class="about-me-content">
        <div class="about-me-text-container">
            
            <div class="about-me-text">
                <p>I am a Front-end developer based in Karlsruhe, Germany.
                    I enjoy helping designer and companies bring their
                    ideas into real life. I am looking forward to continuing my
                    developer career with a job in a junior web developer
                    position.
                    <br>
                    <br>
                    If you think i'd be a good match for your projects, contact me!
                </p>
            </div>

            <div class="lets-talk-button-container">
                <button class="lets-talk-button">Let's talk</button>
            </div>

        </div>



        <div class="about-me-picture-container">
            <div class="image-container">
                <img class="about-me-picture" src="assets/img/meinfoto2.png" alt="">
            </div>
        </div>
    </div>
</div>


<div class="arrow-container wrapper">
    <img class="arrow-picture" src="assets/icons/arrow-left.png" alt="">
</div>