<div class="wrapper content">
    <div class="pofession">
        <span>Frontend</span>
        <span>Developer</span>

        <div class="name">
            <img src="assets/img/line.png" alt="">
            <span>Mustafa Soycan</span>
        </div>
    </div>



    <div class="scroll-notice">
        <a href="mailto:Mail@mustafa-soycan.com" class="email">Mail&#64;mustafa-soycan.com</a>

        <div class="scroll-down">
            <div class="arrow-container">
                <img src="assets/icons/arrow-down.png" alt="arrow-icon">
            </div>
            <span>Scroll</span>
            <span>Down</span>
        </div>
    </div>
</div>