<div class="wrapper content">
    
    <div class="skills-container">
        <span class="skills-header">My Skills</span>
        <div class="skills-icons">
            <div class="skills-row">
                <div class="icon"><img src="assets/icons/angular.png" alt=""></div>
                <div class="icon"><img src="assets/icons/typescript.png" alt=""></div>
                <div class="icon"><img src="assets/icons/javascript.png" alt=""></div>
                <div class="icon"><img src="assets/icons/html.png" alt=""></div>
                <div class="icon"><img src="assets/icons/css.png" alt=""></div>
            </div>
           
            <div class="skills-row">
                <div class="icon"><img src="assets/icons/firebase.png" alt=""></div>
                <div class="icon"><img src="assets/icons/git.png" alt=""></div>
                <div class="icon"><img src="assets/icons/scrum.png" alt=""></div>
                <div class="icon"><img src="assets/icons/apis.png" alt=""></div>
                <div class="icon"><img src="assets/icons/material-design.png" alt=""></div>
            </div>
        </div>
    </div>

</div>