<div class="header-background">

    <div class="wrapper header">
        <div>
            <img src="assets/logo/logo-header.png" alt="">
        </div>

        <div>
            <button class="hamburger" [class.is-active]="isHamburgerActive" (click)="toggleHamburger()">
                <div class="bar"></div>
            </button>
        </div>
    </div>

</div>


  
  <!-- Overlay-Container für das Burger-Menü -->
  <div class="navigation-overlay" *ngIf="isHamburgerActive">
    <app-navigation></app-navigation>
  </div>

<app-my-name></app-my-name>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-project-da-bubble></app-project-da-bubble>
<app-project-join></app-project-join>
<app-project-el-pollo-loco></app-project-el-pollo-loco>
<app-project-portfolio></app-project-portfolio>
<app-contact></app-contact>
<router-outlet></router-outlet>
<app-footer></app-footer>