<div class="content">
    <div class="navigation wrapper">
        <span>
            <a routerLink="/about-me" class="navigation-link" (click)="scrollToSection('about-me')">About Me</a>
        </span>

        <span>
            <a routerLink="/skills" class="navigation-link" (click)="scrollToSection('about-me')">My skills</a>
        </span>

        <span>
            <a routerLink="/portfolio" class="navigation-link" (click)="scrollToSection('about-me')">Portfolio</a>
        </span>
    </div>
</div>



<div class="navigation-footer">

</div>