<div class="content">
    <div class="navigation wrapper">
        <span>
            <a class="navigation-link" (click)="scrollToSection('about-me')">About Me</a>
        </span>

        <span>
            <a class="navigation-link" (click)="scrollToSection('skills')">My skills</a>
        </span>

        <span>
            <a class="navigation-link" (click)="scrollToSection('portfolio')">Portfolio</a>
        </span>
    </div>
</div>



<div class="navigation-footer">
<div class="wrapper">

</div>
</div>