<div class="content">
    <div class="navigation wrapper">
        <span>
            <a class="navigation-link" (click)="scrollToSection('about-me')">About Me</a>
        </span>

        <span>
            <a class="navigation-link" (click)="scrollToSection('skills')">My skills</a>
        </span>

        <span>
            <a class="navigation-link" (click)="scrollToSection('portfolio')">Portfolio</a>
        </span>
    </div>
</div>



<div class="navigation-footer">
    <div class="wrapper">
        <div class="footer">

            <div class="footer-content">
                <span class="footer-header">Say Hi!</span>
                <span class="footer-email">Mail@mustafa-soycan.com</span>
            </div>

            <div class="social-media-container">
                <div>
                    <a href="https://www.linkedin.com/in/mustafa-soycan" target="_blank">
                        <img class="link-icon" src="assets/icons/linked-in.png" alt="Image of LinkedIn-icon">
                    </a>
                </div>

                <div>
                    <a href="mailto:mail@mustafa-soycan.com" target="_blank">
                        <img class="link-icon" src="assets/icons/mail.png" alt="Image of mail-icon">
                    </a>

                </div>

                <div>
                    <a href="https://github.com/MustafaSoycan" target="_blank">
                        <img class="link-icon" src="assets/icons/github.png" alt="Image of Github-icon">
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>