.content {
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 128px;

    .navigation-link {
        font-family: Syne;
        font-weight: 700;
        font-size: 96px;
        text-decoration: none;
        color: black;
        opacity: 1;
        transition: 0.2s;
        border-bottom: 4px solid transparent;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
            border-bottom: 4px solid black;
        }
    }
}


//---------------- NAVIGATION FOOTER -----------------//

.navigation-footer {
    background-color: black;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin-bottom: -5px;
    clip-path: polygon(0% 0%, 100% 35%, 100% 100%, 0% 100%);

    padding-top: 5vh;
    padding-bottom: 5vh;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-header {
    color: white;
    font-family: Syne;
    font-size: 78px;
    transition: 0.2s;

    &:hover {
        color: #5988FF;
        cursor: default;
    }
}


.footer-email {
    color: white;
    font-family: Overpass;
    font-size: 28px;
    transition: 0.2s;

    &:hover {
        color: #5988FF;
        cursor: default;
    }
}

.social-media-container {
    display: flex;
    vertical-align: middle;
    gap: 16px;
    align-items: flex-end;
}

//---------- MOBILE RESPONSIVE----------//

@media (max-width: 1280px) {
    .navigation-link{
        font-size: 86px !important;
    }
}

@media (max-width: 1050px) {
    .navigation-link{
        font-size: 76px !important;
    }

    .navigation{
        gap: 100px !important;
    }
}

@media (max-width: 880px) {
    .navigation-link{
        font-size: 66px !important;
    }
}

@media (max-width: 730px) {
    .navigation-link{
        font-size: 56px !important;
    }

    .footer{
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    .navigation-link{
        font-size: 46px !important;
    }

    .footer-email{
        font-size: 24px !important;
    }
}

@media (max-width: 480px) {
    .navigation-link{
        font-size: 36px !important;
    }

    .footer-email{
        font-size: 16px !important;
    }
}

@media (max-width: 400px) {
    .navigation-link{
        font-size: 26px !important;
    }
}




