.wrapper{
    max-width: 1240px;
    width: 100%;
    margin: auto;
}

body{
    margin: 0;
    background-color: rgb(255, 252, 243);
}

@font-face {
    font-family: Syne;
    src: url('./assets/fonts/syne/static/Syne-ExtraBold.ttf');
}

@font-face {
    font-family: Overpass;
    src: url('./assets/fonts/Overpass/static/Overpass-Regular.ttf');
}