.wrapper{
    max-width: 1240px;
    width: 100%;
    margin: auto;

    border: 2px solid black;
}

body{
    margin: 0;
    background-color: rgb(255, 252, 243);
}

@font-face {
    font-family: Syne;
    src: url('./assets/fonts/syne/static/Syne-ExtraBold.ttf');
}

@font-face {
    font-family: Overpass;
    src: url('./assets/fonts/Overpass/static/Overpass-Regular.ttf');
}

@media (max-width: 1280px) {
    .wrapper{
        max-width: 1000px !important;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .wrapper{
        max-width: 800px !important;
        margin: auto;
    }
}


@media (max-width: 880px) {
    .wrapper{
        max-width: 650px !important;
        margin: auto;
    }
}

@media (max-width: 730px) {
    .wrapper{
        max-width: 550px !important;
        margin: auto;
    }
}

@media (max-width: 580px) {
    .wrapper{
        max-width: 450px !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .wrapper{
        max-width: 380px !important;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .wrapper{
        max-width: 320px !important;
        margin: auto;
    }
}