.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: auto;
}

body {
    margin: 0;
    background-color: rgb(255, 252, 243);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Syne;
    src: url('./assets/fonts/syne/static/Syne-ExtraBold.ttf');
}

@font-face {
    font-family: Overpass;
    src: url('./assets/fonts/Overpass/static/Overpass-Regular.ttf');
}

@media (max-width: 1280px) {
    .wrapper {
        max-width: 1000px !important;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .wrapper {
        max-width: 800px !important;
        margin: auto;
    }

    .component-header {
        font-size: 68px !important;
    }
}


@media (max-width: 880px) {
    .wrapper {
        max-width: 650px !important;
        margin: auto;
    }

    .component-header {
        font-size: 58px !important;
    }
}

@media (max-width: 730px) {
    .wrapper {
        max-width: 550px !important;
        margin: auto;
    }

    .component-header {
        font-size: 48px !important;
    }

    .arrow-picture {
        height: 200px;
    }
}

@media (max-width: 580px) {
    .wrapper {
        max-width: 450px !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .wrapper {
        max-width: 380px !important;
        margin: auto;
    }

    .component-header {
        font-size: 38px !important;
    }

    .arrow-picture {
        height: 160px;
    }

}

@media (max-width: 400px) {
    .wrapper {
        max-width: 320px !important;
        margin: auto;
    }

    .component-header {
        font-size: 36px !important;
    }
}

@media (max-width: 380px) {
    .arrow-picture {
        height: 140px;
    }
}

@media (max-width: 360px) {
    .wrapper {
        max-width: 280px !important;
        margin: auto;
    }

    .component-header {
        font-size: 32px !important;
    }
}

/* Webkit-basierte Browser (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px;
    /* Breite der Scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #5988FF;
    /* Farbe des Scrollbar-Thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #3a61c2;
    /* Farbe des Scrollbar-Thumb beim Hover */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Farbe des Scrollbar-Tracks */
}